body {
	font: 13px Helvetica, Arial;
}

p, del {
	float: left;
}

del {
	color: red;
}

#buddyMessage {
	background: #ddd;
}

#m, #nameInput { 
	width: 100%;
}

#m {
	resize: none;
	outline: none;
	min-height:60px;
}

th, td {
	width: 50%;
	padding-right: 10px;
}

